<div class="container-fluid bgChisiamo">
    <div class="container hero">
        <div class="row pt-5">
            <div class="text-center lh-4">
                <h1 class="text-white fw-bold">Attitudine Puglia</h1>
            </div>
        </div>
    </div>
</div>
<div class="container py-5 text-center">
    <img src="~/Content/Images/PUGLIA.png" class="img-fluid w-25" />
    <h4 class="dancing">Un viaggio gastronomico della tradizione e dell’eccellenza</h4>
    <p>Siamo due giovani imprenditori della ristorazione che hanno in comune ciò che amiamo definire “l’attitudine Puglia”. La nostra terra ha una sua magia che si snoda in un <br />
    tempo lento, si accarezza nei colori caldi dell’aria, nel vento che a volte sferza la costa, altre volte la accarezza portando profumi di sole, di macchia mediterranea e di sale. La <br /> 
    nostra terra è un ponte verso il futuro con le radici nella sua storia, nelle tradizioni che si tramandano da generazioni con la musica, i merletti e le buone cose in tavola.</p>
    </div>

<div class="container bgChisiamo2">
    <h2>Il sapore di <br /> Puglia</h2>
</div>