<div class="container-fluid bgChisiamo">
    <div class="container hero">
        <div class="row pt-5">
            <div class="text-center lh-4">
                <h1 class="text-white fw-bold titShop">Attitudine Puglia</h1>
            </div>
        </div>
    </div>
</div>
<div class="container py-5 text-center">
    <img src="~/Content/Images/PUGLIA.png" class="img-fluid w-25" />
    <h3 class="dancing">Un viaggio gastronomico della tradizione e dell’eccellenza</h3>
    <p>
        Siamo due giovani imprenditori della ristorazione che hanno in comune ciò che amiamo definire “l’attitudine Puglia”. La nostra terra ha una sua magia che si snoda in un <br />
        tempo lento, si accarezza nei colori caldi dell’aria, nel vento che a volte sferza la costa, altre volte la accarezza portando profumi di sole, di macchia mediterranea e di sale. La <br />
        nostra terra è un ponte verso il futuro con le radici nella sua storia, nelle tradizioni che si tramandano da generazioni con la musica, i merletti e le buone cose in tavola.
    </p>
</div>

<
<div class="container hero bgChisiamo2 mb-5">
    <div class="row pt-5">
        <div class="text-center lh-4">
            <h1 class=" fw-bold titShop dancing2">Il sapore di <br /> Puglia</h1>
        </div>
    </div>
</div>

<div class="container text-center pt-5">
    <h1 class="fw-bold">Cos'è The Puglia e perchè <br /> è nato</h1>
    <p class="text-secondary">
        <b>Puglia</b> insomma è uno stile di vita, quello che vorremmo portare sulla vostra tavola, accompagnandovi in un viaggio del gusto che tocca le eccellenze offerte da questa terra, condividendo con voi i prodotti che, <br />
        dopo un’accurata selezione, abbiamo scelto per rappresentare la magia ed il sapore di Puglia.
    </p>
    <p class="text-secondary">I veri protagonisti della nostra offerta sono gli artigiani ed i produttori che con le loro sapienti mani e la loro esperienza, trasformano quello che la terra offre, in prodotti di eccellenza.</p>
    <p class="text-secondary">
        All’interno del nostro negozio online potrete acquistare in sicurezza e semplicità la nostra selezione di realtà produttive meticolosamente individuate, i prodotti di Puglia che con un clic potranno raggiungervi <br />
        nella vostra casa o nel vostro ufficio o anche in vacanza, in qualunque luogo in cui possa realizzarsi il binomio tra bontà e convivialità.
    </p>
    <p class="text-secondary">  Voi lasciatevi ispirare da questo viaggio gastronomico della tradizione e dell’eccellenza. Noi ci impegneremo al massimo perché la vostra ispirazione diventi realtà.</p>
</div>

<div class="container text-center bgChisiamo3 py-5 my-4">
    <div class="d-flex flex-column justify-content-center py-5">
        <h4 class="dancing3">Newsletter</h4>
        <h2 class="pb-4 fw-bold">Iscriviti per ricevere sconti!</h2>
        <input type="email" name="EMAIL" placeholder="Il tuo indirizzo email" />
        <label class="mt-4">
            <input type="checkbox" value="1" required />
            * Ho preso visione e dichiaro di accettare la politica sulla privacy (Art.
            13 d. Lgs. N. 196/2003 e Artt 13-14 Reg. UE 2016/679)
        </label>
    </div>
</div>



