<div class="container-fluid bgChisiamo">
    <div class="container hero">
        <div class="row pt-5">
            <div class="text-center lh-4">
                <h1 class="text-white fw-bold titShop">Attitudine Puglia</h1>
            </div>
        </div>
    </div>
</div>

<div class="container p-5 my-3 bgContact">
    <div class="row">
        <div class="col col-6 lineaHome">
            <div class="d-flex flex-column">
                <h1>Contattaci</h1>
                <p class="text-secondary">Per informazioni non esitare a contattarci, compilando i campi sottostanti. <br />
                Sarà nostra premura rispondere ad ogni Vostra esigenza nel minor tempo <br /> possibile.</p>
                <hr />
                <div class="d-flex flex-column">
                    <p><a src="#" class="text-decoration-none text-secondary">Via degli uffici 2 Martano (LE)</a></p>
                    <p><a src="#" class="text-decoration-none text-secondary">info@TheShop.com</a></p>
                    <p><a src="#" class="text-decoration-none text-secondary">39 320 5741415</a></p>
                </div>
            </div>
        </div>
        <div class="col col-6">
            <div class="d-flex flex-column">
                <input type="text" name="text" placeholder="Nome e Cognome*" class="my-3" />
                <input type="email" name="EMAIL" placeholder="Il tuo indirizzo email" class="my-3" />
                <input type="text" name="telephone-number" placeholder="Telefono" class="my-3" />
                
                    <p class="area fw-bold">Messaggio</p>
                    <textarea cols="40" rows="10" name="your-message"></textarea>
                
                <label class="mt-4">
                    <input type="checkbox" value="1" required />
                    * Ho preso visione e dichiaro di accettare la politica sulla privacy (Art.
                    13 d. Lgs. N. 196/2003 e Artt 13-14 Reg. UE 2016/679)
                </label>
            </div>
        </div>

    </div>
</div>

<div class="container text-center bgChisiamo3 py-5 my-4">
    <div class="d-flex flex-column justify-content-center py-5">
        <h4 class="dancing3">Newsletter</h4>
        <h2 class="pb-4 fw-bold">Iscriviti per ricevere sconti!</h2>
        <input type="email" name="EMAIL" placeholder="Il tuo indirizzo email" />
        <label class="mt-4">
            <input type="checkbox" value="1" required />
            * Ho preso visione e dichiaro di accettare la politica sulla privacy (Art.
            13 d. Lgs. N. 196/2003 e Artt 13-14 Reg. UE 2016/679)
        </label>
    </div>
</div>
