@model List<PugliaMia.Models.ProdottoVendutoViewModel>

<div class="container-fluid bgChisiamo9">
    <div class="container hero">
        <div class="row pt-5">
            <div class="text-center lh-4">
                <h1 class="text-white fw-bold titShop dancing">Un mare di sapori</h1>
            </div>
        </div>
    </div>
</div>

<div class="container py-3">
    <h2 class="titPage">Prodotti più Venduti</h2>
    <hr class="border border-danger border-2 opacity-50 mb-4" />

    <div class="table-responsive">
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th>Nome Prodotto</th>
                    <th>Quantità Venduta</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prodotto in Model)
                {
                    <tr>
                        <td>@prodotto.Nome</td>
                        <td>@prodotto.QuantitaVenduta</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <p>@Html.ActionLink("Torna indietro", "BackOffice", "Home", new { area = "" }, new { @class = "bottone1" })</p>
</div>
