
<div class="container-fluid bgChisiamo7">
    <div class="container hero">
        <div class="row pt-5">
            <div class="text-center lh-4">
                <h1 class="text-white fw-bold titShop dancing">Ricca di sapori</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container">
        <div class="container p-5">
            <h2 class="titPage my-3">Le Nostre Ricette ...</h2>
            <h5>
                Una cucina con origini povere ma di altissima qualità che oggi viene considerata una delle migliori d'Italia. Ecco alcune <br />
                ricette tradizionali
            </h5>
            <hr class="border border-danger border-2 opacity-50 mb-4" />
            <div class="container py-4">
                <p class="my2 line">
                    Dalla Puglia, tante ricette sono conosciute in tutta Italia (e non solo) per la <b>
                        qualità altissima <br />
                        della materia prima
                    </b> e per le tradizioni antiche legate alla preparazione delle pietanze e il <br />
                    loro consumo. Si tratta di una cucina semplice con radici povere, con piatti che <b>
                        valorizzano <br />
                        la qualità
                    </b> e il gusto degli ingredienti singoli di terra e di mare. Le orecchiette - <br />
                    tradizionalmente condite con ragù di carne di cavallo o con le cime di rapa - sono uno dei <br />
                    prodotti gastronomici più amati da tutti, ma andiamo a scoprirne altri due.
                </p>
            </div>

            <div class="container">
                <h2 class="titPage">Taralli Pugliesi</h2>
                <p class="my-2 line">
                    Cotti due volte, prima bolliti e poi al forno, i taralli pugliesi sono dei “biscotti” che si trovano in moltissime forme in <br />
                    base alla provincia in cui ci si trova. Hanno radici nella <b>cucina povera, </b> <br />
                    richiedono pochi ingredienti e moltissima manualità, infatti erano tradizionalmente <br />
                    confezionati dalle donne. Rispetto ai taralli provenienti dalla Campagna e dalla Basilicata, <br />
                    quelli pugliesi sono molto più piccoli, tranne al nord della regione, nella zona del Gargano, <br />
                    dove si trovano taralli grandi, a forma di anello, conosciuti come gli scaldatelli. I taralli più <br />
                    <b> friabili </b> vengono impastati con olio, mentre quelli <b>lisci e più croccanti </b> con vino.
                </p>
            </div>
            <hr class="border border-danger border-2 opacity-50 my-4" />

            <div class="container my-5">
                <div class="row">
                    <div class="col col-4 d-flex flex-column lineaHome justify-content-center align-items-center py-4">
                        <h3>L'arte di preparare le Melanzane <b> ripiene</b></h3>
                        <p>
                            Le melanzane ripiene alla pugliese sono un capolavoro della cucina regionale, un
                            <br /> connubio di sapori autentici e tradizioni secolari. Questo piatto, ricco di storia e gusto,
                            <br /> porta con sé l’essenza della Puglia, terra di sapori genuini e ingredienti freschi.
                        </p>
                    </div>
                    <div class="col col-8">
                        <div class="card mb-5 w-100  bgCard">
                            <img src="~/Content/Images/cozzegratinate.jpg" class="card-img-top" alt="...">
                            <div class="card-body p-5">
                                <h2 class="card-title py-4"><b>Cozze gratinate, la ricetta pugliese</b></h2>
                                <p class="card-text py-4 pRicette">
                                    "
                                    Un antipasto di mare facile e appetitoso: ecco la ricetta per preparare le cozze gratinate alla <br />
                                    pugliese, un modo alternativo per gustare questo amato mollusco"
                                </p>
                                <a class="bottone1" href="https://www.lacucinaitaliana.it/ricetta/antipasti/ricetta-facile-cozze-gratinate/">Vai alla ricetta</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-8">
                        <div class="card mb-5 w-100  bgCard">
                            <img src="~/Content/Images/orecchiette-al-pomodoro-e-cacioricotta.jpg" class="card-img-top" alt="...">
                            <div class="card-body p-5">
                                <h2 class="card-title py-4"><b>Orecchiette al pomodoro</b></h2>
                                <p class="card-text py-4 pRicette">
                                    "
                                    Ecco in tavola le orecchiette, la pasta fresca di grano duro più famosa della Puglia, oggi servita in <br />
                                    semplicità con pomodoro, basilico e ricotta salata"
                                </p>
                                <a class="bottone1" href="https://www.lacucinaitaliana.it/ricetta/primi/orecchiette-al-pomodoro/">Vai alla ricetta</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-4 d-flex flex-column lineaHome justify-content-center align-items-center py-4">
                        <h3>
                            Le orecchiette sono piatto simbolo della <b> Puglia. </b>
                        </h3>
                        <p>
                            Le orecchiette sono più di un semplice piatto di pasta: sono un emblema della cultura pugliese, <br />
                            un tassello nel mosaico della cucina italiana e un <br />
                            viaggio gastronomico che attraversa secoli di storia
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-4 d-flex flex-column lineaHome justify-content-center align-items-center py-4">
                        <h3>
                            Le melanzane ripiene sono un piatto che sa di <b> famiglia </b>
                        </h3>
                        <p>
                            La ricetta delle melanzane ripiene è di origine spagnola, <br />
                            nato come piatto contadino, oggi si sono diffuse oramai sulla tavola di tutti gli itaiani, <br />
                            non quanto le melanzane sott'olio, ma ci siamo quasi.
                        </p>
                    </div>
                    <div class="col col-8">
                        <div class="card mb-5 w-100 bgCard">
                            <img src="~/Content/Images/Melanzane-ripiene0.jpg" class="card-img-top" alt="...">
                            <div class="card-body p-5">
                                <h2 class="card-title py-4"><b>Melanzane ripiene alla pugliese</b></h2>
                                <p class="card-text py-4 pRicette">
                                    "
                                    Le melanzane ripiene al forno sono un must dell'estate: prepariamole alla maniera pugliese con <br />
                                    pomodorini, capperi, formaggio pecorino, pangrattato e aromi "
                                </p>
                                <a class="bottone1" href="https://www.lacucinaitaliana.it/ricetta/primi/orecchiette-al-pomodoro/">Vai alla ricetta</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



