<div class="container p-5">
    <h2 class="titPage my-3">Le Nostre Ricette ...</h2>
    <h5>
        Una cucina con origini povere ma di altissima qualità che oggi viene considerata una delle migliori d'Italia. Ecco alcune <br />
        ricette tradizionali
    </h5>
    <hr class="border border-danger border-2 opacity-50 mb-4" />
    <div class="container py-4">
        <p class="my2 line">
            Dalla Puglia, tante ricette sono conosciute in tutta Italia (e non solo) per la <b>
                qualità altissima <br />
                della materia prima
            </b> e per le tradizioni antiche legate alla preparazione delle pietanze e il <br />
            loro consumo. Si tratta di una cucina semplice con radici povere, con piatti che <b>
                valorizzano <br />
                la qualità
            </b> e il gusto degli ingredienti singoli di terra e di mare. Le orecchiette - <br />
            tradizionalmente condite con ragù di carne di cavallo o con le cime di rapa - sono uno dei <br />
            prodotti gastronomici più amati da tutti, ma andiamo a scoprirne altri due.
        </p>
    </div>

    <div class="container">
        <h2 class="titPage">Taralli Pugliesi</h2>
        <p class="my-2 line">
            Cotti due volte, prima bolliti e poi al forno, i taralli pugliesi sono dei “biscotti” che si trovano in moltissime forme in <br />
            base alla provincia in cui ci si trova. Hanno radici nella <b>cucina povera, </b> <br />
            richiedono pochi ingredienti e moltissima manualità, infatti erano tradizionalmente <br />
            confezionati dalle donne. Rispetto ai taralli provenienti dalla Campagna e dalla Basilicata, <br />
            quelli pugliesi sono molto più piccoli, tranne al nord della regione, nella zona del Gargano, <br />
            dove si trovano taralli grandi, a forma di anello, conosciuti come gli scaldatelli. I taralli più <br />
            <b> friabili </b> vengono impastati con olio, mentre quelli <b>lisci e più croccanti </b> con vino.
        </p>
    </div>

    <div class="container">
        <div class="card mb-3 w-50">
            <img src="~/Content/Images/cozzegratinate.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title py-4"><b>Cozze gratinate, la ricetta pugliese</b></h5>
                <p class="card-text py-4">
                    Un antipasto di mare facile e appetitoso: ecco la ricetta per preparare le cozze gratinate alla <br />
                    pugliese, un modo alternativo per gustare questo amato mollusco
                </p>
                <a class="bottone1" href="https://www.lacucinaitaliana.it/ricetta/antipasti/ricetta-facile-cozze-gratinate/">Vai alla ricetta</a>
            </div>
        </div>
    </div>
</div>

<!-- Video posizionato a destra, in posizione fissa -->
<div class="fixed  me-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Contenuto esistente -->
            </div>
            <div class="col">
                
                <!-- Video -->
                <video width="380" height="500" controls>
                    <source src="~/Content/Images/frutta e verdura.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>
