<!-- Video posizionato a destra, in posizione fissa -->
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col col-8">
                <!-- Contenuto esistente -->
                <div class="container p-5">
                    <h2 class="titPage my-3">Le Nostre Ricette ...</h2>
                    <h5>
                        Una cucina con origini povere ma di altissima qualità che oggi viene considerata una delle migliori d'Italia. Ecco alcune <br />
                        ricette tradizionali
                    </h5>
                    <hr class="border border-danger border-2 opacity-50 mb-4" />
                    <div class="container py-4">
                        <p class="my2 line">
                            Dalla Puglia, tante ricette sono conosciute in tutta Italia (e non solo) per la <b>
                                qualità altissima <br />
                                della materia prima
                            </b> e per le tradizioni antiche legate alla preparazione delle pietanze e il <br />
                            loro consumo. Si tratta di una cucina semplice con radici povere, con piatti che <b>
                                valorizzano <br />
                                la qualità
                            </b> e il gusto degli ingredienti singoli di terra e di mare. Le orecchiette - <br />
                            tradizionalmente condite con ragù di carne di cavallo o con le cime di rapa - sono uno dei <br />
                            prodotti gastronomici più amati da tutti, ma andiamo a scoprirne altri due.
                        </p>
                    </div>

                    <div class="container">
                        <h2 class="titPage">Taralli Pugliesi</h2>
                        <p class="my-2 line">
                            Cotti due volte, prima bolliti e poi al forno, i taralli pugliesi sono dei “biscotti” che si trovano in moltissime forme in <br />
                            base alla provincia in cui ci si trova. Hanno radici nella <b>cucina povera, </b> <br />
                            richiedono pochi ingredienti e moltissima manualità, infatti erano tradizionalmente <br />
                            confezionati dalle donne. Rispetto ai taralli provenienti dalla Campagna e dalla Basilicata, <br />
                            quelli pugliesi sono molto più piccoli, tranne al nord della regione, nella zona del Gargano, <br />
                            dove si trovano taralli grandi, a forma di anello, conosciuti come gli scaldatelli. I taralli più <br />
                            <b> friabili </b> vengono impastati con olio, mentre quelli <b>lisci e più croccanti </b> con vino.
                        </p>
                    </div>
                    <hr class="border border-danger border-2 opacity-50 my-4" />

                    <div class="container my-5">
                        <div class="card mb-5 w-100  bgCard">
                            <img src="~/Content/Images/cozzegratinate.jpg" class="card-img-top" alt="...">
                            <div class="card-body p-5">
                                <h2 class="card-title py-4"><b>Cozze gratinate, la ricetta pugliese</b></h2>
                                <p class="card-text py-4 pRicette">
                                    "
                                    Un antipasto di mare facile e appetitoso: ecco la ricetta per preparare le cozze gratinate alla <br />
                                    pugliese, un modo alternativo per gustare questo amato mollusco"
                                </p>
                                <a class="bottone1" href="https://www.lacucinaitaliana.it/ricetta/antipasti/ricetta-facile-cozze-gratinate/">Vai alla ricetta</a>
                            </div>
                        </div>

                        <div class="card mb-5 w-100  bgCard">
                            <img src="~/Content/Images/orecchiette-al-pomodoro-e-cacioricotta.jpg" class="card-img-top" alt="...">
                            <div class="card-body p-5">
                                <h2 class="card-title py-4"><b>Orecchiette al pomodoro</b></h2>
                                <p class="card-text py-4 pRicette">
                                    "
                                    Ecco in tavola le orecchiette, la pasta fresca di grano duro più famosa della Puglia, oggi servita in <br />
                                    semplicità con pomodoro, basilico e ricotta salata"
                                </p>
                                <a class="bottone1" href="https://www.lacucinaitaliana.it/ricetta/primi/orecchiette-al-pomodoro/">Vai alla ricetta</a>
                            </div>
                        </div>

                        <div class="card mb-5 w-100 bgCard">
                            <img src="~/Content/Images/Melanzane-ripiene0.jpg" class="card-img-top" alt="...">
                            <div class="card-body p-5">
                                <h2 class="card-title py-4"><b>Melanzane ripiene alla pugliese</b></h2>
                                <p class="card-text py-4 pRicette">
                                    "
                                    Le melanzane ripiene al forno sono un must dell'estate: prepariamole alla maniera pugliese con <br />
                                    pomodorini, capperi, formaggio pecorino, pangrattato e aromi "
                                </p>
                                <a class="bottone1" href="https://www.lacucinaitaliana.it/ricetta/primi/orecchiette-al-pomodoro/">Vai alla ricetta</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-4">

                <!-- Video -->
                <video id="video"  width="380" height="500" controls>
                    <source src="~/Content/Images/frutta e verdura.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>

                <div id="scro" class="mt-5">jhassavhjasdvj</div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Memorizza l'elemento del video
        var videoElement = $('#video');
        var relatedArticles = $('#scro');
        // Gestisci lo scrolling della pagina
        $(window).scroll(function () {
            // Verifica la posizione della pagina
            var scroll = $(window).scrollTop();

            // Imposta la soglia di attivazione e disattivazione
            var activationThreshold = 400; // Attiva la classe quando lo scrolling supera i 200px
            var deactivationThreshold = 3400; // Disattiva la classe quando lo scrolling scende sotto i 100px

            // Aggiungi o rimuovi la classe position-fixed in base alla posizione dello scrolling
            if (scroll >= activationThreshold && scroll <= deactivationThreshold) {
                videoElement.addClass('position-fixed bottom-50 mt-5 ');
            } else {
                videoElement.removeClass('position-fixed bottom-50 mt-5');
            }

            // Aggiungi o rimuovi la classe position-fixed in base alla posizione dello scrolling per gli articoli correlati
            if (scroll >= activationThreshold && scroll <= deactivationThreshold) {
                relatedArticles.addClass('position-fixed bottom-50 mt-5');
            } else {
                relatedArticles.removeClass('position-fixed bottom-50 mt-5');
            }
        });
    });
  
</script>
