@model IEnumerable<PugliaMia.Models.Ordini>

<div class="container py-3">
    <h2 class="titPage">Ordini Completati</h2>
    <hr class="border border-danger border-2 opacity-50 mb-4" />

    <table class="table table-success table-striped">
        <tr>
            <th>
                OrdineId
            </th>
            <th>
                Nome Cliente
            </th>
            <th>
                Data Ordine
            </th>
            <th>
                Totale
            </th>
            <!-- Aggiungi altre colonne se necessario -->
        </tr>

        @foreach (var ordine in Model)
        {
            <tr>
                <td>
                    @ordine.OrdineID
                </td>
                <td>
                    @ordine.Utenti.Nome
                </td>
                <td>
                    @ordine.DataOrdine
                </td>
                <td>
                    @ordine.Totale
                </td>
                <!-- Aggiungi altre colonne se necessario -->
            </tr>
        }

    </table>
</div>

