@model List<PugliaMia.Models.Ordini>
<div class="container login-form">
    <h2>I tuoi ordini</h2>
<hr class="border border-danger border-2 opacity-50 mb-4" />

    @if (Model.Any())
    {
        <ul>
            @foreach (var ordine in Model)
            {
                <li>
                    <h3 class="titPage">Ordine ID: @ordine.OrdineID</h3>
                    <p>Data Ordine: <b>@ordine.DataOrdine</b></p>
                    <p>Totale: <b>@ordine.Totale €</b></p>
                    <p>@Html.ActionLink("Dettagli", "RiepilogoOrdine", new { ordineId = ordine.OrdineID }, new {@class = "bottone1"})</p>

                </li>
            }
        </ul>
    }
    else
    {
        <p>Non hai effettuato nessun ordine.</p>
    }
</div>