
body.home-page .hiden-content {
    display: none;
}

.titLogo {
    color: white !important;
}

.sidebar {
    padding: 20px;
}

.categoriaButton {
    margin-bottom: 10px;
}

#listaProdotti {
    margin-left: 20px; /* Spazio per allineare il contenuto con la sidebar */
}

.bgContainer {
    background-image: url('../Content/Images/taralli 1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 400px rgba(0, 0, 0, 0.5);
}

}

.st {
    color: #F28123 !important;
}

.navbar-transparent {
    background-color: transparent !important; /* Imposta il colore di sfondo trasparente */
    transition: background-color 0.3s ease-in-out; /* Aggiungi una transizione graduale per una transizione più fluida */
}

.bottone {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    color: #fff;
    border: 2px solid #F28123;
    padding: 7px 20px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    background-color: #F28123;
}

    .bottone:hover {
        background-color: transparent;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

.bottone2 {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    color: #fff;
    border: 2px solid #F28123;
    padding: 7px 20px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    background-color: #F28123;
}

    .bottone2:hover {
        background-color: #F28123;
        color: black;
        text-decoration: none;
        font-weight: bold;
    }

.title {
    font-size: 4.5rem;
}

h1, h2, p {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1px;
}

.hero {
    padding-block: 11rem;
}

.title2 {
    color: #F28123;
    font-family: "Dancing Script", cursive;
}

.product {
    box-shadow: 0 0 20px #e4e4e4 !important;
}

    .product:hover {
        box-shadow: none !important;
    }


.bottone1 {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    color: black;
    border: 2px solid #F28123;
    padding: 7px 20px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
}

    .bottone1:hover {
        background-color: #F28123;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

.txCard {
    color: black;
}


.textColor {
    color: gray;
}

.single-logo-item img {
    max-width: 180px;
    margin: 0 auto;
}

.logo-carousel-section {
    background-color: #f5f5f5;
    padding: 50px 0;
}

.footer-area {
    background-image: linear-gradient(to left top, #f48221, #f27018, #f05c12, #ee4410, #eb2312);
    color: #fff;
    padding: 150px 0;
}

h2.widget-title {
    font-size: 24px;
    font-weight: 500;
    position: relative;
    padding-bottom: 20px;
    color: #fff;
}

    h2.widget-title:after {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 20px;
        height: 2px;
        background-color: #F28123;
        content: "";
    }

.footer-box p {
    color: #fff;
    opacity: 0.7;
    line-height: 1.8;
}

.footer-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .footer-box ul li {
        opacity: 0.7;
        margin-bottom: 10px;
        line-height: 1.8;
    }

        .footer-box ul li:last-child {
            margin-bottom: 0;
        }

.footer-box.subscribe form input[type=email] {
    border: none;
    background-color: #012738;
    width: 78%;
    padding: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #fff;
}

.footer-box.subscribe form button {
    width: 20%;
    border: none;
    background-color: #012738;
    color: #F28123;
    padding: 14px 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}

    .footer-box.subscribe form button:focus {
        outline: none;
    }

.copyright {
    background-image: linear-gradient(to left top, #f48221, #f27018, #f05c12, #ee4410, #eb2312);
    border-top: 1px solid #232a35;
}

    .copyright p {
        margin: 0;
        color: #fff;
        opacity: 0.7;
        padding: 16px 0;
        font-size: 15px;
    }

    .copyright a {
        color: #F28123;
        font-weight: 700;
    }

        .copyright a:hover {
            color: #f59d53;
        }

.social-icons ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .social-icons ul li {
        display: inline-block;
    }

        .social-icons ul li a {
            font-size: 16px;
            color: #fff;
            opacity: 0.7;
            padding: 16px 10px;
            display: block;
        }

.footer-box ul li a {
    color: #fff;
}

.footer-box.pages ul li {
    position: relative;
    padding-left: 20px;
}

    .footer-box.pages ul li:before {
        position: absolute;
        left: 0;
        top: 0;
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #F28123;
    }

.logos {
    background-color: #8080801a;
}

.navbar {
    background-color: transparent !important;
    transition: background-image 0.3s ease-in-out;
}

.navbar-blue {
    background-image: linear-gradient(to left top, #f48221, #f27018, #f05c12, #ee4410, #eb2312);
}

.navbar-nav .nav-link {
    color: white;
}

    .navbar-nav .nav-link:hover {
        color: #F28123;
    }

.titPage {
    color: #F28123;
    font-weight: bold;
    font-family: "Dancing Script", cursive;
}

.navbar .titPage {
    color: #F28123;
}

    .navbar .titPage:hover {
        color: white;
    }

span {
    color: #F28123;
}

.nav-link {
    color: #F28123 !important;
    font-size: 18px;
}

    .nav-link:hover {
        color: white !important;
        font-size: 22px;
    }

.navNav {
    color: white !important;
}

.nav-link .fas.fa-user {
    color: white !important;
    font-size: 18px;
}

.nav-link:hover .fas.fa-user {
    color: white;
    font-size: 22px;
}

/* Login */
/* Stile del Form */
.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

    /* Stile degli Input */
    .login-form input[type="email"],
    .login-form input[type="tel"],
    .login-form input[type="text"],
    .login-form input[type="url"],
    .login-form input[type="password"] {
        border: 1px solid #ccc;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #333;
        line-height: 1.5;
        font-weight: 400;
        padding: 10px;
        margin-bottom: 15px;
        width: 100%;
    }

    /* Stile del Bottone */
    .login-form button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

        /* Hover del Bottone */
        .login-form button[type="submit"]:hover {
            background-color: #0056b3;
        }


.badg {
    background-color: #F28123;
    color: white;
}

.form-horizontal {
    max-width: 300px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-image: linear-gradient(to left top, #f48221, #f27018, #f05c12, #ee4410, #eb2312);
    color: white;
}

    .form-horizontal .form-group {
        margin-bottom: 20px;
    }

    .form-horizontal .control-label {
        font-weight: bold;
    }

    .form-horizontal.form-control {
        height: 40px;
    }

    .form-horizontal button[type="submit"] {
        height: 40px;
    }

.bgOffice {
    background-color: #4B4453 !important;
}

.bgOffice1 {
    background-color: #FF9671 !important;
}

.bgOffice2 {
    background-color: #845EC2 !important;
}

}

.bgOffice3 {
    background-color: #008F7A !important;
}

.bgOffice4 {
    background-color: #B39CD0 !important;
}

.bgOffice5 {
    background-color: #00C9A7 !important;
}

.bgOffice6 {
    background-color: #FFC75F !important;
}



.line {
    line-height: 27px;
}

.bgCard {
    background-color: rgb(236 240 243) !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}

p, span, a {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

b {
    color: #F28123;
}

.lineaHome {
    line-height: 32px;
}

.pRicette {
    font-size: large;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.hide-content {
    display: none;
}

.logo {
    height: 78px !important;
    width: auto !important;
}

.bgRecensioni {
    background-color: #77a8e55e !important;
    border-top-left-radius: inherit !important;
    border-top-right-radius: inherit !important;
    border-bottom-left-radius: inherit !important;
    border-bottom-right-radius: inherit !important;
}

.stella {
    color: goldenrod;
}

.bgChisiamo {
    background-image: url('../Content/Images/trulli.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 400px rgba(0, 0, 0, 0.5);
}



.dancing {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: goldenrod;
    font-size: 64px;
}

.bgShop {
    background-image: url('../Content/Images/mare.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 400px rgba(0, 0, 0, 0.5);
}

.titShop {
    animation-name: fadeInDown;
    animation-duration: 2.5s;
}

/* Definisci l'animazione fadeInDown */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bgChisiamo2 {
    background-image: url('../Content/Images/pomodori.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 400px rgba(0, 0, 0, 0.5);
}

.dancing2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #e1bf6c;
    font-size: 80px;
    line-height: 130px;
}

.dancing3 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #e1bf6c;
    font-size: 43px;
}

.container.text-center.bgChisiamo3 {
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente i figli */
    height: 100%; /* Assicura che il contenitore occupi l'altezza della finestra */
}

    .container.text-center.bgChisiamo3 input[type="email"] {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid white;
        font-family: Poppins, sans-serif;
        font-size: 16px;
        color: #68745c;
        line-height: 27px;
        font-weight: 600;
        padding-left: 0;
        padding-bottom: 2px;
        width: 100%;
        background-color: transparent;
        opacity: 0.7;
    }

.bgContact input[type="email"], input[type=tel], input[type=text], input[type=url], input[type=password] {
    border: 3px solid white;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    color: #68745c;
    line-height: 27px;
    font-weight: 600;
    padding-left: 0;
    padding-bottom: 2px;
    width: 100%;
    background-color: transparent;
    opacity: 0.7;
}

textarea {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    color: #68745c;
    line-height: 27px;
    font-weight: 600;
    padding-left: 0;
    padding-bottom: 2px;
    width: 100%;
    background-color: transparent;
    opacity: 0.7;
}

.area {
    color: rgb(58 60 62 / 43%) !important;
}

.bgChisiamo3 {
    background-color: #c5bebe17;
}

.bgChisiamo4 {
    background-image: url('../Content/Images/trullino.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 400px rgba(0, 0, 0, 0.5);
}

.bgChisiamo5 {
    background-image: url('../Content/Images/borgo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 400px rgba(0, 0, 0, 0.5);
}

.size {
    font-size: 20px;
}

.bgChisiamo6 {
    background-image: url('../Content/Images/vigna.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 400px rgba(0, 0, 0, 0.5);
}

.bgContact {
    background-color: #c5bebe17;
}

.bgChisiamo7 {
    background-image: url('../Content/Images/borgo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 400px rgba(0, 0, 0, 0.5);
}

.bgChisiamo8 {
    background-image: url('../Content/Images/borgo3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 400px rgba(0, 0, 0, 0.5);
}

.bgChisiamo9 {
    background-image: url('../Content/Images/borgo4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 400px rgba(0, 0, 0, 0.5);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: 'Comic Sans MS';
}

.success-message {
    background: #dff0d8;
    color: #3c763d;
    padding: 40px;
    border-radius: 4px;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    font-family: 'Comic Sans MS';
}

    .success-message .bottone {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
    }

.custom-welcome-message {
    font-family: 'Comic Sans MS';
    color: #ff0000; /* colore del testo */
    background-color: #ffff00;
}

/* Stile per l'icona del carrello */
.cart-icon {
    font-size: 2.5rem; /* Imposta la dimensione desiderata per l'icona */
    margin-right: 5px; /* Aggiunge un po' di spazio tra l'icona e il badge */
}

/* Stile per il badge */
.badge {
    font-size: 0.8rem; /* Imposta la dimensione del testo del badge */
    padding: 0.25rem 0.5rem; /* Imposta il padding del badge */
    /* Imposta la posizione del badge */
    top: -5px; /* Sposta il badge verso l'alto rispetto al suo contenitore */
    right: -5px; /* Sposta il badge verso destra rispetto al suo contenitore */
}

.hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}

.normativa {
    font-size: 0.8rem !important;
}

@media (max-width: 768px) {
    #fixedSidebar.fixed-sidebar-mobile {
        position: fixed;
        top: 100px;
        bottom: 0;
        overflow-y: auto;
        margin-top: 15px; /* Aggiunto margine superiore per evitare sovrapposizioni */
    }

    #productsContainer {
        margin-right: 60px;
    }
}

.show-on-scroll {
    opacity: 0;
}

.show-on-scroll2 {
    opacity: 0;
}
