<div class="container-fluid bgShop">
    <div class="container hero">
        <div class="row pt-5">
            <div class="text-center lh-4">
                <h1 class="text-white fw-bold dancing titShop">I sapori della nostra <br /> Terra</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4">
    <div class="row justify-content-center">
        <!-- Aggiunto justify-content-center per centrare il contenuto -->
        <div class="col-md-6 ms-auto">
            <!-- Modificato il numero di colonne per il campo di ricerca -->
            <input type="search" id="searchInput" class="form-control rounded-pill" placeholder="Cerca prodotti...">
            <!-- Aggiunta la classe rounded-pill per rendere i bordi tondeggianti -->
        </div>

    </div>
</div>
<div class="container-fluid pt-4">
    <div class="row">
        <div class="col-md-3 sidebar" id="fixedSidebar">
            <h2 class="mb-4 titPage fw-bold">Categorie Prodotto</h2>
            <ul class="list-group">
                @foreach (var categoria in Model)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="#" class="categoriaButton link-secondary" data-categoria-id="@categoria.CategoriaID">@categoria.NomeCategoria</a>
                        <span class="badge bg-success p-2 rounded-pill" id="numeroProdotti-@categoria.CategoriaID">...</span> <!-- Numero di prodotti nella categoria -->
                    </li>
                }
                <li class="list-group-item">
                    <a href="#" class="link-secondary" id="tutteCategorieButton">Mostra tutti i Prodotti</a>
                </li>
            </ul>
        </div>


        <div class="col-md-9" id="productsContainer">
            <div id="listaProdotti">
                <!-- Qui verrà inserita la lista dei prodotti tramite AJAX -->
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link prev-page" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link next-page" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        var numeroPaginaCorrente = 1; // Definisci il numero di pagina corrente

        // Carica i prodotti della prima pagina di default
        caricaProdotti(numeroPaginaCorrente);

        $('.prev-page').click(function (event) {
            event.preventDefault();
            if (numeroPaginaCorrente > 1) { // Se non siamo già alla prima pagina
                numeroPaginaCorrente--; // Decrementa il numero di pagina corrente
                caricaProdotti(numeroPaginaCorrente); // Carica i prodotti per la nuova pagina
            }
        });

        $('.next-page').click(function (event) {
            event.preventDefault();
            numeroPaginaCorrente++; // Incrementa il numero di pagina corrente
            caricaProdotti(numeroPaginaCorrente); // Carica i prodotti per la nuova pagina
        });

        function caricaProdotti(pageNumber) {
            // Effettua una chiamata AJAX per caricare i prodotti della pagina specificata
            $.ajax({
                url: '/Prodotti/Index',
                type: 'GET',
                data: { page: pageNumber },
                success: function (data) {
                    $('#listaProdotti').html(data);
                    // Puoi anche aggiornare altre parti della tua pagina qui, come l'indicatore di pagina corrente
                },
                error: function () {
                    $('#listaProdotti').html('<p>Errore durante il recupero dei prodotti.</p>');
                }
            });
        }

        // Aggiungi un gestore di eventi clic per ogni bottone categoria
        $('.categoriaButton').click(function (event) {
            event.preventDefault();
            var categoriaId = $(this).data('categoria-id'); // Ottieni l'ID della categoria selezionata

            // Effettua una chiamata AJAX per ottenere i prodotti della categoria selezionata
            $.ajax({
                url: '/Prodotti/GetProdottiByCategoria',
                type: 'GET',
                data: { categoriaId: categoriaId },
                success: function (data) {
                    // Se la chiamata AJAX ha successo, aggiorna il contenuto della lista dei prodotti
                    $('#listaProdotti').html(data);
                },
                error: function () {
                    // Gestisci gli errori se la chiamata AJAX fallisce
                    $('#listaProdotti').html('<p>Errore durante il recupero dei prodotti.</p>');
                }
            });
        });

        // Aggiungi un gestore di eventi clic per il pulsante "Mostra tutte le categorie"
        $('#tutteCategorieButton').click(function (event) {
            event.preventDefault();
            // Effettua una chiamata AJAX per ottenere tutti i prodotti di tutte le categorie
            $.ajax({
                url: '/Prodotti/Index',
                type: 'GET',
                success: function (data) {
                    // Se la chiamata AJAX ha successo, aggiorna il contenuto della lista dei prodotti
                    $('#listaProdotti').html(data);
                },
                error: function () {
                    // Gestisci gli errori se la chiamata AJAX fallisce
                    $('#listaProdotti').html('<p>Errore durante il recupero dei prodotti.</p>');
                }
            });
        });

        // Codice aggiuntivo può andare qui se necessario

    });

    $(document).ready(function () {
        $.ajax({
            url: '/Categorie/GetNumeroProdottiPerCategoria',
            type: 'GET',
            success: function (data) {
                data.forEach(function (categoria) {
                    $('#numeroProdotti-' + categoria.CategoriaID).text(categoria.NumeroProdotti);
                });
            },
            error: function () {
                console.error('Errore durante il recupero del numero di prodotti per categoria.');
            }
        });
    });

    $(document).ready(function () {
        $('#searchInput').on('input', function () {
            var searchText = $(this).val(); // Ottieni il testo inserito dall'utente
            if (searchText.length >= 3) {
                // Effettua una chiamata AJAX per cercare i prodotti corrispondenti al testo inserito
                $.ajax({
                    url: '/Prodotti/Search',
                    type: 'GET',
                    data: { searchText: searchText },
                    success: function (data) {
                        // Aggiorna il contenuto della lista dei prodotti con i risultati della ricerca
                        $('#listaProdotti').html(data);
                    },
                    error: function () {
                        // Gestisci gli errori se la chiamata AJAX fallisce
                        $('#listaProdotti').html('<p>Errore durante la ricerca dei prodotti.</p>');
                    }
                });
            } else {
                // Se il testo inserito è troppo corto, mostra tutti i prodotti
                $.ajax({
                    url: '/Prodotti/Index',
                    type: 'GET',
                    success: function (data) {
                        $('#listaProdotti').html(data);
                    },
                    error: function () {
                        $('#listaProdotti').html('<p>Errore durante il recupero dei prodotti.</p>');
                    }
                });
            }
        });
    });

    $(document).ready(function () {
        aggiornaNumeroProdottiCarrello();
    });

    $(document).ready(function () {
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            var maxHeight = 2000;
            if ($(window).width() < 768) { // Aggiunta della condizione per dispositivi mobili
                if (scroll >= 420 && scroll <= maxHeight) {
                    $('#fixedSidebar').addClass('fixed-sidebar-mobile'); // Aggiungi classe per dispositivi mobili
                    $('#productsContainer').css({
                       
                        // Riduce il margine sinistro per fare spazio alla sidebar fissa
                        marginLeft: '0',
                    });
                } else {
                    $('#fixedSidebar').removeClass('fixed-sidebar-mobile'); // Rimuovi classe per dispositivi mobili
                    $('#productsContainer').css({
                       
                        // Ripristina il margine sinistro originale
                        marginLeft: '0',
                    });
                }
            } else { // Comportamento per dispositivi desktop
                if (scroll >= 420 && scroll <= maxHeight) {
                    $('#fixedSidebar').css({
                        position: 'fixed',
                        top: '100px',
                        bottom: 0,
                        overflowY: 'auto',
                        marginTop: '15px'
                    });
                    $('#productsContainer').css({
                        marginLeft: '25%' // Riduce il margine sinistro per fare spazio alla sidebar fissa
                    });
                } else {
                    $('#fixedSidebar').css({
                        position: 'static'
                    });
                    $('#productsContainer').css({
                        marginLeft: 0 // Ripristina il margine sinistro originale
                    });
                }
            }
        });
    });
</script>
